[Unit]
Description= timer qui trigger la verif des fichiers

[Timer]
OnCalendar=*-*-* *:*:00
Unit=/etc/systemd/system/ids.service

[Install]
WantedBy=multi-user.target