[Unit]
Description= Mon petit service

[Service]
Restart=always
ExecStart=/usr/bin/python3 /home/brendan/linux-ids/ids.py

[Install]
WantedBy=multi-user.target