[Unit]
Description= Mon petit service

[Service]
WorkingDirectory=/home/brendan/linux-ids
ExecStart=/usr/bin/python3 /home/brendan/linux-ids/ids.py check

[Install]
WantedBy=multi-user.target